extends layout

block link
    link(rel="stylesheet",href="/home/home.css")

block content
    include /nav
    #sidebar
        ul
            li
                a#my-page
                    i.iconfont &#xf00fd;
                    |  我的页面
    #content
        table
            tr
                th 页面名称
                th 模板修改时间
                th 操作
            - docs.forEach(function(tpl){
                tr
                    td
                        a(href="#{tpl.url}.php")=tpl.name
                    td #{moment(tpl.ts).startOf('minutes').fromNow()}
                    td
                        a(href="/page/edit-tpl/#{tpl._id}") 设置页面
                        a(href="/page/edit-data/#{tpl._id}") 编辑数据
            - })

block js
    script(src='/seajs-2.3.0/sea.js')
    script.
        seajs.use('./home/index')