extends layout

block link
    link(rel="stylesheet",href="/index.css")

block content
    h1 hello world
    .table-wrapper
        .table-content
        //字段
        .fields
        //列
        .rows
        //表格区域
        .table
