extends layout

block link
    link(rel="stylesheet",href="/index.css")

block content
    #data-container

block js
    script(src='/seajs-2.3.0/sea.js')
    script.
        seajs.use('./edit/index')