extends layout

block link
    link(rel="stylesheet",href="/global/global.css")
    link(rel="stylesheet",href="/home/index.css")

block content
    include /sidebar

block js
    script(src='/seajs-2.3.0/sea.js')
    script.
        seajs.use('./home/index')