extends /layout
block link
    link(rel="stylesheet",href="/global/global.css")
    link(rel="stylesheet",href="/add/page.css")
    style(type="text/css").
        #add-page {
            background: #C93756;
        }
block content
    include /nav
    #editor-wrapper
        #editor
            | &lt;!doctype html&gt;
            | &lt;html&gt;
            | &lt;head lang="zh"&gt;
            | &lt;meta charset="UTF-8"&gt;
            | &lt;title&gt;&lt;/title&gt;
            | &lt;/head&gt;
            | &lt;body&gt;
            | &lt;/body&gt;
            | &lt;/html&gt;
        form#sidebar(name="editor",action="/add/page",method="post")
            .group
                h2 页面名称
                input(type='text',name="name",placeholder="页面名称方便查找")
            .group
                h2 页面路径
                input(type='text',name="url",placeholder="请输入线上地址").php
                textarea(name="content").hide
            .group.tr
                button(type="submit") 下一步，编辑数据

block js
    script(src='/seajs-2.3.0/sea.js')
    //引入高亮编辑器
    script(src='/ace-builds/src-noconflict/ace.js')
    script.
        var content = ace.edit("editor")
        content.setTheme("ace/theme/monokai")
        content.getSession().setMode("ace/mode/html")
        seajs.use('/home/init')
