extends /layout
block link
    link(rel="stylesheet",href="/global/global.css")
    link(rel="stylesheet",href="/add/page.css")
    style(type="text/css").
        #add-page {
            background: #C93756;
        }
block content
    form#sidebar(name="editor",action="/add/page",method="post")
        textarea.hide(name="content")
        #nav
            label
                | 页面名称：
                input(type="text",name="name",placeholder="请输入页面名称")
                span.name
            label
                | 线上地址：http://www.mogujie.com/go/
                input(type="text",name="url",placeholder="请修改此路径")
                span.url
                | .php
            label.control
                button(type="button") todo:快速插入
                button(type="submit") 保存
        #editor-wrapper
            #editor
                | &lt;!doctype html&gt;
                | &lt;html&gt;
                | &lt;head lang="zh"&gt;
                | &lt;meta charset="UTF-8"&gt;
                | &lt;title&gt;&lt;/title&gt;
                | &lt;/head&gt;
                | &lt;body&gt;
                | &lt;/body&gt;
                | &lt;/html&gt;

block js
    script(src='/seajs-2.3.0/sea.js')
    //引入高亮编辑器
    script(src='/ace-builds/src-noconflict/ace.js')
    script.
        var content = ace.edit("editor")
        content.setTheme("ace/theme/monokai")
        content.getSession().setMode("ace/mode/html")
        seajs.use('/home/init')
