body, html
  margin 0
  padding 0
  background #f9f9f9

#edit-wrapper
  margin 0 1em
  padding-bottom 2em

#edit-wrapper h2
  font-size 16px
  font-weight normal
  padding 1em 0 1em 0
  border-bottom solid 1px #ccc
  color #444

#edit-wrapper .excel-wrapper
  height auto
  margin 1em auto
  text-align left

#edit-wrapper .excel-wrapper .fields span
  width 300px

.save-btn
  padding 1em 2em
  position fixed
  right 0
  bottom 0
  background #1b968f
  border none
  border-radius 3px
  color #fff
  font-size 14px