h1, h2, h3, p
  margin 0 auto
  padding 0

body
  font-size 12px

.excel-wrapper
  border 1px #888 solid
  border-radius 3px
  padding-left 35px
  padding-top 25px
  height 400px
  position relative
  margin 5em
  overflow auto
  .excel-container
    width 100%
    height 100%
    overflow auto
  .excel-content
    width 100%
  .fields
    position absolute
    left 35px
    top 0
    background #ccc
    height 25px
    white-space nowrap
    z-index 2
    -webkit-transition box-shadow .2s ease-in-out;
    span
      width 100px
      display inline-block
      height 100%
      text-align center
      line-height 220%
      background url(field.png) 0 0 repeat-y
  .fields.overflow
    box-shadow 0 0 10px rgba(0, 0, 0, .2)

  .rows
    background #ccc
    width 35px
    position absolute
    left 0
    top 25px
    -webkit-transition box-shadow .2s ease-in-out;
    div
      display box
      box-orient horizontal
      box-pack center
      box-align center
      height 25px
      font-size 12px
      display -webkit-box
      -webkit-box-orient horizontal
      -webkit-box-pack center
      -webkit-box-align center
      background url(rows.png) 0 0 repeat-x
  .rows.overflow
    box-shadow 0 0 10px rgba(0, 0, 0, .2)

div.input
  padding 0
  margin 0
  position absolute
  resize none
  margin-left 35px
  box-shadow inset 0 0 5px #443fff
  overflow hidden
  z-index -1
  background #eee
  textarea
    border none
    resize none
    background none

