h1, h2, h3, p
  margin 0 auto

body
  font-size 12px
  margin 2em

.excel-wrapper:focus
  box-shadow 0 0 5px rgba(0, 0, 0, .3)
  opacity 1

.excel-wrapper
  border 1px #888 solid
  border-radius 3px
  padding-left 35px
  padding-top 25px
  position relative
  overflow auto
  width auto
  display inline-block
  outline none
  opacity .8

  .excel-container
    width 100%
    height 100%
    overflow auto
  .excel-content
    width 100%
    cursor crosshair
    i
      position absolute
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      font-style normal
      padding-left 3px
      line-height 200%
      font-family simsun, sans-serif
  .fields
    position absolute
    left 35px
    top 0
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* W3C */
    height 25px
    white-space nowrap
    z-index 100
    -webkit-transition box-shadow .2s ease-in-out;
    cursor default
    span
      width 100px
      display inline-block
      height 100%
      text-align center
      line-height 220%
      background url(field.png) 0 0 repeat-y
  .fields.overflow
    box-shadow 12px 0 20px rgba(0, 0, 0, .3)

  .rows
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%); /* W3C */
    width 35px
    position absolute
    left 0
    top 25px
    z-index 101
    -webkit-transition box-shadow .2s ease-in-out;
    cursor default
    div
      box-orient horizontal
      box-pack center
      box-align center
      height 25px
      font-size 12px
      display -webkit-box
      -webkit-box-orient horizontal
      -webkit-box-pack center
      -webkit-box-align center
      background url(rows.png) 0 0 repeat-x
  .rows.overflow
    box-shadow 0 12px 20px rgba(0, 0, 0, .3)

div.input
  padding 0
  margin 0
  position absolute
  resize none
  margin-left 35px
  overflow hidden
  z-index 99
  background rgba(0, 0, 0, .1)
  left -99999em
  textarea
    border none
    resize none
    background none
    outline none
    width 100%
    height 100%
    padding-left 3px
    line-height 200%
    font-family simsun, sans-serif

