#editor-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 42px;
  bottom: 0;
  background: #2f2f2f;
  color: #ddd;
}
#editor-wrapper #editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  font-family: Monaco, sans-serif;
}
#nav {
  color: #fff;
  font-size: 14px;
  font-family: monospace, "华文细黑", "Microsoft Yahei", sans-serif;
  padding: 0;
  color: #fff;
  padding-left: 2em;
}
#nav input {
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  font-family: monospace, "华文细黑", "Microsoft Yahei", sans-serif;
  padding: 0;
  color: #fff;
  color: #fcffb7;
}
#nav input[name=name] {
  width: 136px;
}
#nav input[name=name].empty {
  width: 136px !important;
}
#nav input[name=url] {
  width: 90px;
}
#nav input[name=url].empty {
  width: 90px !important;
}
#nav span.name,
#nav span.url {
  font-size: 14px;
  font-family: monospace, "华文细黑", "Microsoft Yahei", sans-serif;
  padding: 0;
  color: #fff;
  position: absolute;
  top: -999em;
  white-space: pre-wrap;
}
#nav label {
  margin-right: 2em;
}
#nav label.control {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
#nav label.control button {
  height: 100%;
  border: none;
  padding: 0 2em;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.4);
  letter-spacing: 2px;
  background: rgba(0,0,0,0.1);
  outline: none;
}
#nav label.control button:active {
  background: rgba(0,0,0,0.5);
}
@-webkit-keyframes gogogo {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
#nav input::-webkit-input-placeholder {
  color: #f2ffaa;
  -webkit-animation: gogogo 1s 1 linear;
}
