#editor-wrapper
  position absolute
  left 0
  right 0
  top 42px
  bottom 0
  background #2f2f2f
  color #ddd
  #editor
    position absolute
    top 1em
    bottom 0
    left 280px
    right 0
    font-size 14px
    font-family Monaco, sans-serif
  #sidebar
    font-size 12px
    padding 12px
    width 280px

  #sidebar .group
    margin-bottom 2em
    width 85%
  #sidebar h2
    font-size 14px
    font-weight normal
    margin 0 0 .5em 0
  #sidebar input[type=text]
    padding 8px 0
    text-indent 4px
    border-radius 3px
    border none
    width 100%
    background #444
    border solid 1px #222
    color #aaa
  .tr
    text-align right
