| !{content}
customTag(style="position:fixed;left:0;right:0;top:0;height:14px;font-size:12px;background:rgba(81, 154, 115,.5);color:#fff;padding:10px 2em;z-index:2147483647;text-align:right;")
 a(href="/",style="color:#fff;height:100%;padding:1em 1em;text-decoration:none;background:rgba(0,0,0,.5);margin:0 1em;") 返回首页
 a(href="/page/edit-tpl/#{_id}",style="color:#fff;height:100%;padding:1em 1em;text-decoration:none;background:rgba(0,0,0,.5);margin:0 1em;") 修改源代码
 a(href="/page/edit-data/#{_id}",style="color:#fff;height:100%;padding:1em 1em;text-decoration:none;background:rgba(0,0,0,.5);margin:0 1em;") 编辑数据